{
  "presets": [
    "es2015"
  ],
  "env": {
    "development": {
      "presets": [ "react" ]
    },
    "test": {
      "presets": [ "react" ]
    },
    "production": {
      "presets": [ "babili" ]
    }
  }
}
